*{
    margin:0px;
    padding:0px;
}
.printern-image{
    width:250px;
    height: 250px;
    padding-bottom: 20px;
}
.image-size{
    width:100%;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.printern{
    width:300px;
    
    color:white;
    margin: auto;
}
.image-size1{
    width:150px;
}
.printernbg{
  background: url("../../assets/images/background.png"), black;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:426px){
    .printernbg {
      background: black;
      width:100%;  
    }
  }
