.container{
    box-sizing: border-box;
    min-height: 100vh;
    width: 98.9vw;
    scroll-behavior: smooth;
    background-color: #02020E;
    padding-top: 12vh;
    overflow-x: hidden;
}
.content{
    width: 90vw;
    padding-top: 5vh;
    height: 84vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.text{
    color: white;
    min-width: 16vw;
    max-width: 40vw;
    overflow: hidden;
    height:28vh;
}

.text h1{
    font-family: VBI;
    font-size: 3.3rem;
}
.text p{
    font-size:1.0rem;
    font-family: EXO;
    font-weight: 500;
    word-wrap: break-word;
    word-break: keep-all;
    font-style: italic;
}
.gradeintLogo{
    position: absolute;
    width: 40vw;
    height: auto;
    left: 10%;
    top: 10vh;
}
.cardContainer{
    width: 90vw;
    color: white;
    position: absolute;
    bottom: 0px;
}
.cardHeadingContainer{
    display: flex;
}
.cardHeadingContainer p{
    font-size: 14px;
    font-style: italic;
}
.cardHeadingContainer hr{
    color: white;
    width: 1300px;
    margin-left: 15px;
    border: 0.5px solid white;
}
.cards{
    display:flex;
    justify-content: space-between;
}
.cardRoot{
    background: linear-gradient(100.03deg, #C4C4C4 18.45%, rgba(196, 196, 196, 0) 94.09%);
    height: 150px;
    padding-right: 22px;
    border-radius: 4px;
}
.cardContent{
    border: 0.5px solid white;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
}
.cardImage{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.cardData{
    margin-left: 12px;
    margin-top: 2%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 12px;
    overflow: hidden;
}
.cardData h4{
    font-family: EXO;
    font-size: 24px;
    font-weight: 600;
    padding-top: 8px;
    font-style: italic;
}
.cardData p{
    font-family: EXO;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    font-style: normal;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    position: relative;
}
.displayImage{
    width: auto;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 0;
}
.earthImage{
    width:80vw;
    height: 100vh;
    top: 11vh;
    right: -12vw;
    position: absolute;
    transform: rotateZ(-40.32deg);
}
.btnExploreEvents{
    background:linear-gradient(95.67deg, #07E1FF -4.72%, #102C66 140.88%);
    color: white;
    outline: none;
    border: none;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-style: italic;
    font-family: EXO;
    margin-bottom: 2vh;
    margin-top: 10px;
}
.coordinators{
    width: 100%;
    min-height: 9vh;
    margin-top: 5px;
    display: flex;
    margin-bottom: 10px;
    color: white;
    font-family:EXO;
    justify-content: space-between;
}
.facultyCoordinatorContainer{
    min-width: 45%;
    display: flex;
}
.studentCoordinatorContainer{
    width: 35%;
    height: inherit;
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.studentCoordinator{
    width:40%;
    display: flex;
    word-wrap: normal;
}
.facultyCoordinator{
    width: fit-content;
    display: flex;
}
.coordinatorImage{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 18px;
}
.active{
    border: 0.5px solid greenyellow;
}
.domainHeading{
    text-align: center;
    color: white;
    margin-top: 7vh;
    font-family: VBI;
    font-size: auto;
}
.animate-enter {
    opacity: 0;
  }
  .animate-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .animate-exit {
    opacity: 1;
  }
  .animate-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
  /* MEDIA QUERIES */
  @media screen  and (max-width:1024px){
    .container{
        padding-top: 12vh;
    }
    .content{
        height: 87vh;
    }
    .text{
        max-width: 62vw;
        height: auto;
    }
    .text p{
        font-size: 14px;
    }
    .btnExploreEvents{
        padding: 10px 22px;
        font-size: 12px;
        margin-bottom: 18px;
    }
    .facultyCoordinatorImage{
        width: 50px;
        height:50px;
    }
    .facultyCoordinator{
        width: fit-content;
    }
    .studentCoordinatorContainer{
        width: 45%;
    }
    .studentCoordinator{
        width: 47%;
    }
    .coordinators h6{
        font-size: 12px;
    }
    .coordinators p{
        font-size: 10px;
    }
    .cardData h4{
        font-size: 18px;
    }
    .cardData p{
        font-size: 10px;
    }
    .eventCoordinatorData{
        width: 60%;
    }
  }
  @media screen and (max-width:480px){
      .container{
          overflow-x: hidden;
          padding-top: 6vh;
      }

      .content{
            height:92vh;
      }
      .displayImage{
          width: auto;
          height: 100%;
      }
      .text h1 {
          font-size: 2.0rem;
      }
    .text{
        max-width: 100vw;
        word-wrap: break-word;
        max-height: 25vh;
    }
    .text p{
        font-size: 12px;
    }
    .btnExploreEvents{
        padding: 8px 20px;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .facultyCoordinator{
        /* flex-direction: column; */
        width: 100%;
    }
    .facultyCoordinatorImage{
        width: 40px;
        height:40px;
    }
    
    .cardData h4{
        font-size: 18px;
    }
    .cardDetails p{
        font-size: 10px;
    }
    .coordinatorImage{
        margin:6px;
        width: 40px;
        height:40px;
    }
    .studentCoordinatorContainer{
        width: auto;
        flex-direction: column;
    }
    .facultyCoordinatorContainer{
        padding-top: 12px;
    }
    .studentCoordinator{
        width: 100%;
    }
    .eventCoordinatorData{
        width: 90%;
    }
    .coordinatorDetails p{
        font-size: 8px;
    }
     
  }
  /* TABLETS */
 
  
 