.body {
    font-size: 62.5%;
    /* 1rem = 10px */
}

.body {
    box-sizing: border-box;
}

/* ---------- TOP TAGS ---------- */

.body {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(14, 6, 4) 0%, rgb(11, 29, 65) 100%, rgb(45, 33, 13) 100%);
    overflow-x: hidden;
    color: #fff;
    font-family: Exo;
}

img {
    display: block;
    /* Change */
    width: 100%;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    font-weight: 500;
    line-height: 1.5;
    font-family: Vipnagorgialla;
    text-transform: uppercase;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #dedede;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---------- HEADER ---------- */

header {
    padding: 5rem 0;
}

/* ---------- MAIN Content ---------- */

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container h1 {
    text-align: center;
}

.heading-container p {
    max-width: 50%;
    text-align: center;
}

/* Container */

.container {
    max-width: 132rem;
    margin: 0 auto;
}

/* ---------- SECTIONS ---------- */

section {
    padding: 5rem 0;
}

/* ---------- TEAM ---------- */

.teams__group:not(:last-of-type) {
    margin-bottom: 5rem;
}

.teams__group-heading {
    text-align: center;
    margin-bottom: 5rem;
}

/* ---------- TEAM GRID ---------- */

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-gap: 2.5rem;
    justify-content: center;
}

.team-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-grid__img {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.team-grid__name {
    font-size: 2.8rem;
    color: #dedede;
}

/* ---------- Responsive ---------- */

@media screen and (max-width: 1490px) {
    .container {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .body {
        font-size: 50%;
    }
    .heading-container p {
        max-width: 100%;
    }
}