.eventContainer{
    background-color: transparent;
    width: inherit;
    height: auto;
}
.divider{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid white;    
}
.eventContent{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
/* EVENT IMAGE */
.eventImage{
    width: 20%;
    height: auto;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}
.eventDeadline{
    display: grid;
    width: 100%;
    grid-template-columns: 8% 90%;
    grid-row: auto;
    height: fit-content;
}
/* EVENT DATA */
.eventInfo{
    width: 45%;
    height: auto;
}
.eventInfoData{
    width: 100%;
    height: 60%;
    color: white;
}
.eventInfoData h1{
    font-family: VBI;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}
.eventInfoData p{
    font-size: 1.0rem;
    font-family: EXO;
    font-style: italic;
    font-weight: 400;
}
.buttonContainer{
    width: 100%;
    height: fit-content;
    margin-top: 12px;
    display: flex;
}
.btnRegister{
    background-color: #FFF;
    outline: none;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 6px 18px;
    font-size: 16px;
    font-family: EXO;
    margin-right: 24px;
    font-style: italic;
}
.btnStatement{
    background-color: transparent;
    outline: none;
    border: 0.5px solid white;
    border-radius: 4px;
    padding:6px 18px;
    font-size: 16px;
    font-family: EXO;
    color: white;
    font-style: italic;
}
/* PRIZE/FEES */
.eventPrize{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    
}
.eventAmount{
    width: 100%;
    padding-right:8px ;
    height: fit-content;
    font-family: EXO;
    font-size: 24px;
    font-style: italic;
}
.eventCoordinators{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}
.coordinatorData{
    width: 40%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.coordinatorImage{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.scheduleName{
    width:inherit;
    height:fit-content;
    display:flex;
    justify-content: space-between;
}
.scheduleName div{
    margin-left: 30px;
    margin-right: 30px;
}
.scheduleName div sub{
    font-family: VBI;
    color: gray;
}
.scheduleName div strong{
    font-family: EXO;
    color: black;
}
.scheduleHeading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.scheduleHeading hr{
    width: 85%;
    border:0.5px solid black;
}
.sessions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid black;
}
.sessions sub{
    color: gray;
}
@media screen and (max-width:780px) {
    .eventContent{
        flex-wrap: wrap;
    }
    .eventImage{
        width: 30%;
    }
    .eventInfo{
        width: 60%;
    }
    .eventPrize{
        width: 100%;
        margin-top: 24px;
        flex-direction: row;
        justify-content: space-between;
    }  
    .eventAmount{
        text-align: left;
        width: 80%;
    }
    .eventInfoData{
        height:80%;
    } 
}
@media screen and (max-width:480px){
    .eventContainer{
        min-height: 150vh;
    }
    .eventContent{
        flex-direction: column;
        height: 100%;
        min-height: inherit;
    }   
    /* EVENT IMAGE */
    .eventImage{
        width: auto;
        height: 30%;
    }
    .image{
        width: 100%;
        height: auto;
    }
    .eventDeadline{
     height: 50px;   
    }
    /* EVENT DATA */
    .eventInfo{
        width: auto;
        max-height: 45%;
        height: calc(fit-content+'10%');
    }
    .eventInfoData{
        max-height: 85%;
        height:fit-content;
        padding:2px
    }
    .btnRegister{
        padding: 4px 16px;
        font-size: 12px;
    }
    .btnStatement{
        padding: 4px 16px;
        font-size: 12px;
    }
    /* PRIZE/FEES */
    .eventPrize{
        width: auto;
        height: 30%;
    }
    .coordinatorImage{
        width: 48px;
        height: 48px;
    }
    .coordinatorData{
        width: 45%;
    }
    .eventCoordinators{
        flex-direction: column;

    }
    .coordinatorDetails p{
        font-size: 10px;
    }
}
